<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Liste des etudiants</title>
    {% block stylesheets %}
        <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<table align="center">

    <thead>
    <tr>
        <th colspan="6">Classrooms</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            id
        </td>
        <td>
            student Id
        </td>
        <td>
            Nom
        </td>
        <td>
            Action
        </td>
    </tr>
    {% for i in classrooms %}
        <tr>
            <td>
                {{ i.id }}
            </td>
            <td>
                {{ i.students_id|upper }}

            </td>
            <td>
                {{ i.nom_classroom }}
            </td>

            <td>
                <a href="{{ path('deleteListStudent',{'id':i.id}) }}">
                    Supprimer
                </a>
            </td>
            <td>
                <a href="{{ path('updateStudent',{'id':i.id}) }}">Modifier</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

</body>
</html>




